extends layout

block content
    div(id="about")
      div(align="center") 
        div(id="portrait") 
          a(href="/")
            img(src="https://i.imgur.com/KlVp8qU.png")
      div(id="header") Weakness:
      a() #{weak}
    div(id="about")
      div(id="header") Resistant:
      a() #{res}
    div(id="about")
      div(id="header") Super Effective:
      a() #{sup}
    div(id="about")
      div(id="header") Not Effective:
      a() #{notEff}