doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    div(id="credit")
      a(href="http://cocorini.tumblr.com/" target="_blank") Cocorini
    div(align="center") 
      div(id="placeholder")

        div(id="title") Pokemon Types
        
        div(id="content")
          div(id="middleimage") 
            img(src="https://i.imgur.com/BWQj7OQ.png")

          div(id="aboutbg")
            block content

          div(id="placesbg")
            div(id="places")
              div(id="header") Normal
              a(href="/normal") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fighting

            div(id="places")
              div(id="header") Fire
              a(href="/fire") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Water, Ground, Rock

            div(id="places")
              div(id="header") Water
              a(href="/water") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Electric, Grass

            div(id="places")
              div(id="header") Electric
              a(href="/electric") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Ground

            div(id="places")
              div(id="header") Grass
              a(href="/grass") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fire, Ice, Poison, Flying, Bug

            div(id="places")
              div(id="header") Ice
              a(href="/ice") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fire, Fighting, Rock, Steel

            div(id="places")
              div(id="header") Fighting
              a(href="/fighting") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Flying, Psychic, Fairy

            div(id="places")
              div(id="header") Poison
              a(href="/poison") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Ground, Psychic

            div(id="places")
              div(id="header") Ground
              a(href="/ground") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Water, Grass, Ice

            div(id="places")
              div(id="header") Flying
              a(href="/flying") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Electric, Ice, Rock

            div(id="places")
              div(id="header") Psychic
              a(href="/psychic") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Bug, Ghost, Dark

            div(id="places")
              div(id="header") Bug
              a(href="/bug") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fire, Flying, Rock

            div(id="places")
              div(id="header") Rock
              a(href="/rock") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Water, Grass, Fighting, Ground, Steel

            div(id="places")
              div(id="header") Ghost
              a(href="/ghost") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Ghost, Dark

            div(id="places")
              div(id="header") Dragon
              a(href="/dragon") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Ice, Dragon, Fairy

            div(id="places")
              div(id="header") Dark
              a(href="/dark") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fighting, Bug, Fairy

            div(id="places")
              div(id="header") Steel
              a(href="/steel") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Fire, Fighting, Ground 

            div(id="places")
              div(id="header") Fairy
              a(href="/fairy") 
                img(src="https://i.imgur.com/8zoge62.png")
              a() Weak to: Poison, Steel
                    