body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  background-color: #f44336;
  color: #000000;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header {
  background-color: rgb(191, 223, 223);
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}