/* latin-ext */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(https://fonts.gstatic.com/s/codystar/v7/FwZY7-Q1xVk-40qxOu6J6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(https://fonts.gstatic.com/s/codystar/v7/FwZY7-Q1xVk-40qxOu6H6MmBp0u-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKgE0mRUe0A4Uc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0mRUe0Aw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-image: url('https://i.imgur.com/jDMegMU.png');
  background-attachment: fixed;
  font-family: tinytots;
  font-size: 8px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
  background-color: #e4bec3;
  height: auto;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
  background-color: #e4bec3;
  height: auto;
  }
   
  ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #f9f9f9;
  }
  
  /* LINKS */
  
  a {
  color: #e4b49f;
  text-decoration: none;
  }
  
  /* BOLD TEXT */
  
  b, strong {
  color: #d3a184;
  }
  
  /* ITALIC TEXT */
  
  i, em {
  color: #c4cecb;
  }
  
  #title {
  font-size: 38px;
  font-family: codystar;
  letter-spacing: 6px;
  color: #fff;
  }
  
  #placeholder {
  margin-top: 80px;
  }
  
  #content { 
  margin-top: -2px;
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #fff;
  padding: 5px;
  border-radius: 28px;
  border: 3px dotted #e8e3e2;
  box-shadow: 0px 0px 6px 1px #cbb2a8;
  background-image: url('https://i.imgur.com/IXglC40.png');
  }
  
  #content a {
  text-decoration: none;
  color: #e6bcd4;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  }
  
  #content a:hover {
  text-decoration: none;
  color: #ded69f;
  }
  
  #middleimage {
  width: 140px;
  height: 375px;
  margin-top: 8px;
  border: 5px solid #ccc;
  }
  
  #middleimage img {
  max-width: 140px;
  max-height: 375px;
  }
  
  #aboutbg {
  width: 143px;
  height: 375px;
  overflow: auto;
  margin-top: -385px;
  margin-left: 6px;
  padding: 10px 10px 0px 10px;
  position: fixed;
  background-image: url('https://i.imgur.com/IXglC40.png');
  background-color: #f9f9f9;
  }
  
  #portrait img {
  border-radius: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0px 0px 3px 1px #ccc;
  }
  
  #about {
  width: 128px;
  padding: 7px;
  background-color: #fff5f9;
  border-radius: 8px;
  position: relative;
  font-family: oxygen;
  font-size: 12px;
  text-align: left;
  color: #b6abb1;
  margin-bottom: 10px;
  }
  
  #placesbg {
  width: 143px;
  height: 375px;
  overflow: auto;
  margin-top: -385px;
  margin-left: 331px;
  padding: 10px 10px 0px 10px;
  position: fixed;
  background-image: url('https://i.imgur.com/IXglC40.png');
  background-color: #f9f9f9;
  }
  
  #places {
  width: 128px;
  height: 66px;
  padding: 7px;
  background-color: #fff5f9;
  border-radius: 8px;
  position: relative;
  font-family: oxygen;
  font-size: 12px;
  text-align: left;
  color: #b6abb1;
  margin-bottom: 10px;
  }
  
  #places img {
  border-radius: 20px;
  float: left;
  margin-right: 5px;
  max-width: 40px;
  box-shadow: 2px 2px 2px #ddd7cf;
  }
  
  #header {
  text-align: center;
  font-family: consolas;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #c6bba2;
  padding: 3px;
  border-bottom: 1px dashed #decbcb;
  margin-bottom: 3px;
  }
  
  #credit {
  position: fixed;
  bottom: 8px;
  right: 10px;
  font-size: 10px;
  color: #e4b49f;
  }